body {
		font-family: 'Patrick Hand', cursive;
		overflow-x: hidden;
		background: black;
		color: white;
}

.container {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-60%);
	text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: unset;
  }

	.container {
		position: unset;
		width: unset;
		top: unset;
		transform: unset;
		margin-top: 60px;
	}
}

.element span {
	font-size: 300%;
}

input {
	font-family: 'Patrick Hand', cursive;
	outline: none;
	border: none;
	background: none;
	color: white;
	text-align: center;
	font-size: 200%;
}

.button {
	margin-top: 10px;
	cursor: pointer;
}

#status {
	font-size: 200%;
	padding: 5px 5px;
	border-radius: 10px;
}

.success {
	background: #73ff81;
}

.failure {
	background: #f55151;
}

.restart {
	font-size: 170%;
	margin-bottom: 20px;
	font-family: 'Patrick Hand', cursive;
	background: #bababa;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 2px 2px white;
	transition-duration: .4s;
}

.restart:hover {
	box-shadow: 4px 4px white;
}

.element-info {
	display: none;
	background: #454545;
	box-shadow: 7px 7px #2b2b2b;
	padding: 10px 10px;
	border-radius: 12px;
	margin-bottom: 18px;
}

.space {
	display: none;
}
